<template>
    <v-container fluid grid-list-sm>
        <v-layout row wrap>
            <v-flex d-flex class="green">
                <panel-navigation></panel-navigation>
                <v-card color="red">
                    <domainToolbar></domainToolbar>
                    <v-card color="grey darken-3" flat>
                        <v-card-text>
                            <v-subheader dark>Add Domains</v-subheader>
                            <v-container fluid>
                                <v-layout row>
                                    <v-flex xs12>
                                        <v-text-field
                                                name="input-1"
                                                label="Enter Domains"
                                                textarea
                                                dark
                                                v-model="domains"
                                        ></v-text-field>
                                        <v-btn color="success">Add</v-btn>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                        </v-card-text>
                    </v-card>
                </v-card>
            </v-flex>

        </v-layout>

    </v-container>

</template>

<script>
  import domainToolbar from '~/components/domain-toolbar'
  import panelNavigation from '~/components/panel-navigation'

  export default {
    middleware: ['auth'],
    asyncData: ({req}) => ({
      userAgent: (req ? req.headers['user-agent'] : 'javascript'),
      hostn: (req ? req.host : 'gugl loh')
    }),
    components: {domainToolbar, panelNavigation},
    data () {
      return {
        login: true,
        domains: '1',
        login_url: '/login',
        dense: true,
        drawer: true,
        fixed: true,
        miniVariant: false,
        right: true,
        rightDrawer: false,
        title: 'Admin panel'
      }
    },
    mounted () {
      this.host = window.location.hostname
    }
  }
</script>
