<template>
    <v-container>
        <v-layout>
            <v-flex>
                <v-flex>
                <panel-navigation></panel-navigation>
                </v-flex>
                <v-flex>
                    <h1>Add Domains to Group - {{$route.params.id}}</h1>
                                        <v-text-field
                                                name="input-1"
                                                label="Enter Domains"
                                                textarea
                                                dark
                                                v-model="domains"
                                        ></v-text-field>
                                        <v-btn color="success" @click="addDomains($route.params.id)">Add</v-btn>
                                    </v-flex>
                <v-flex>
                    <v-data-table
                            :headers="headers"
                            :items="items"
                            :loading="loading"
                            class="elevation-3"
                            hide-actions
                    >

                        <template slot="items" slot-scope="props">
                            <td>
                            {{ props.item.name }}
                        </td>
                            <td>
                            {{ props.item.keys_count }}
                        </td>
                            <td>
                            {{ props.item.keys_max }}
                        </td>
                            <td>
                                <v-btn flat fab color="red" @click="deleteDomain(props.item.id)">
                                    <v-icon>close</v-icon>
                                </v-btn>
                            </td>
                            <td>
                                <v-tooltip v-if="props.item.active" bottom>
                                <v-btn slot="activator" flat fab color="yellow" @click="">
                                    <v-icon>pause</v-icon>
                                </v-btn>
                                    <span>Pause</span>
                                </v-tooltip>
                                <v-tooltip v-else bottom>
                                <v-btn slot="activator" flat fab color="green" @click="">
                                <v-icon>play_arrow</v-icon>
                                </v-btn>
                                <span>Run generation</span>
                                </v-tooltip>
                            </td>
                        </template>
                    </v-data-table>
                </v-flex>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
 import panelNavigation from '~/components/panel-navigation'
 import axios from 'axios'
 export default {
   components: {panelNavigation},
   asyncData ({params}) {
     return axios.post('https://bestnail.design/api/domain/group/',
       {
         group: params.id
       })
       .then((res) => {
         return {items: res.data}
       })
   },
   validate ({ params }) {
     // Must be a number
     console.log(params)
     return /^\d+$/.test(params.id)
   },
   data () {
     return {
       domains: '',
       items: [],
       pagination: {},
       loading: false,
       total_results: 0,
       headers: [
         {
           text: 'Domain',
           align: 'left',
           sortable: false,
           value: 'domain'
         },
         {
           text: 'Keys Count',
           align: 'left',
           sortable: false,
           value: 'keys_count'
         },
         {
           text: 'Keys Max',
           align: 'left',
           sortable: false,
           value: 'keys_max'
         },
         {
           text: 'Delete',
           align: 'left',
           sortable: false,
           value: 'delete'
         },
         {
           text: 'Generation',
           align: 'left',
           sortable: false,
           value: 'generation'
         }
       ]
     }
   },
   methods: {
     async addDomains (cat) {
       this.loading = true
       return this.$axios.$post('https://bestnail.design/api/domain/add/',
         {
           group: cat,
           domains: this.domains
         }).then((res) => {
         console.log(res)
         // this.total_results = res.data.count
         this.items = res
         this.loading = false
       })
     },
     async deleteDomain (id) {
       this.loading = true
       return this.$axios.$delete('https://bestnail.design/api/domain/' + id)
         .then(() => {
           this.refreshDomains(this.$route.params.id)
           this.loading = false
         })
     },
     async refreshDomains (id) {
       const result = await this.$axios.$post('https://bestnail.design/api/domain/group/',
         {
           group: id
         })
       this.items = result
     }
   }
}
</script>