<template>
    <v-container>
        <v-layout>
            <v-flex>
                <panel-navigation></panel-navigation>
                <v-flex>
                    <h1>Domains</h1>
                    <h3>Total:  {{total}}</h3>
                    <v-pagination v-model="pagination.page" :length="pages" :total-visible="10"></v-pagination>

                    <v-data-table
                            :headers="headers"
                            :items="items"
                            :loading="loading"
                            :pagination.sync="pagination"
                            :total-items="total"
                            class="elevation-3"
                            hide-actions
                    >

                        <template slot="items" slot-scope="props">
                            <td>
                            {{ props.item.name }}
                        </td>
                            <td>
                            {{ props.item.group }}
                        </td>
                            <td>
                            {{ props.item.keys_count }}
                        </td>
                            <td>
                            {{ props.item.keys_max }}
                        </td>
                            <td>
                                <v-btn flat fab color="red" @click="deleteDomain(props.item.id)">
                                    <v-icon>close</v-icon>
                                </v-btn>
                            </td>
                            <td>
                                <v-tooltip v-if="props.item.active" bottom>
                                <v-btn slot="activator" flat fab color="yellow" @click="start_pause(props.item.id, props.item.active)">
                                    <v-icon>pause</v-icon>
                                </v-btn>
                                    <span>Pause</span>
                                </v-tooltip>
                                <v-tooltip v-else bottom>
                                <v-btn slot="activator" flat fab color="green" @click="start_pause(props.item.id, props.item.active)">
                                <v-icon>play_arrow</v-icon>
                                </v-btn>
                                <span>Run generation</span>
                                </v-tooltip>
                            </td>
                        </template>
                    </v-data-table>
                    <v-pagination v-model="pagination.page" :length="pages" :total-visible="10"></v-pagination>
                </v-flex>
            </v-flex>
        </v-layout>
    </v-container>
</template>


<script>
 import panelNavigation from '~/components/panel-navigation'
 import axios from 'axios'
 export default {
   components: {panelNavigation},
   asyncData () {
     return axios.get('https://bestnail.design/api/domain/')
       .then((res) => {
         return {items: res.data.results, total: res.data.count}
       })
   },
   data () {
     return {
       domains: '',
       items: [],
       pagination: {},
       loading: false,
       total: 0,
       headers: [
         {
           text: 'Domain name',
           align: 'left',
           sortable: false,
           value: 'domain'
         },
         {
           text: 'Group',
           align: 'left',
           sortable: false,
           value: 'group'
         },
         {
           text: 'Keys Count',
           align: 'left',
           sortable: false,
           value: 'keys_count'
         },
         {
           text: 'Keys Max',
           align: 'left',
           sortable: false,
           value: 'keys_max'
         },
         {
           text: 'Delete',
           align: 'left',
           sortable: false,
           value: 'delete'
         },
         {
           text: 'Generation',
           align: 'left',
           sortable: false,
           value: 'generation'
         }
       ]
     }
   },
   watch: {
     pagination: {
       handler () {
         this.fetchDomain()
       },
       deep: true
     }
   },
   methods: {
     async fetchDomain () {
       this.loading = true
       const {page} = this.pagination
       const result = await this.$axios.$get('https://bestnail.design/api/domain/?offset=' + (page - 1) * 10)
       this.total = result.count
       this.items = result.results
       this.loading = false
     },
     async start_pause (id, value) {
       this.loading = true
       value = !value
       console.log(value)
       await this.$axios.$patch('https://bestnail.design/api/domain/' + id + '/',
         {
           active: value
         })
       this.fetchDomain()
       this.loading = false
     },
     async deleteDomain (id) {
       this.loading = true
       return this.$axios.$delete('https://bestnail.design/api/domain/' + id)
         .then(() => {
           this.refreshDomains()
           this.loading = false
         })
     },
     async refreshDomains () {
       const result = await this.$axios.$get('https://bestnail.design/api/domain/')
         .then(() => {
           this.items = result
         })
     }
   },
   computed: {
     pages () {
       if (this.pagination.rowsPerPage == null ||
          this.pagination.totalItems == null
       ) return 0

       return Math.ceil(this.pagination.totalItems / 10)
     }
   }
 }
 </script>