<template>
    <v-container>
        <v-layout>
            <v-flex>
                <panel-navigation></panel-navigation>
                <h1>Bing Serps by queries</h1>
                <h3>Total: {{total}}</h3>
                <v-pagination v-model="pagination.page" :length="pages" :total-visible="10"></v-pagination>
                <br>
                <v-btn color="red" @click.native="deleteSelected">Delete selected</v-btn>
                <v-data-table
                        v-model="selected"
                        :headers="headers"
                        :items="items"
                        :loading="loading"
                        :pagination.sync="pagination"
                        :total-items="total"
                        class="elevation-3"
                        select-all
                        hide-actions
                >
                    <template slot="headers" slot-scope="props">
                        <tr>
                            <th>
                                <v-checkbox
                                        :input-value="props.all"
                                        :indeterminate="props.indeterminate"
                                        primary
                                        hide-details
                                        @click.native="toggleAll"
                                ></v-checkbox>
                            </th>
                            <th
                                    v-for="header in props.headers"
                                    :key="header.text"
                            >

                                {{ header.text }}
                            </th>
                        </tr>
                    </template>
                    <template slot="items" slot-scope="props">
                        <tr :active="props.selected" @click="props.selected = !props.selected">
                        <td>
                            <v-checkbox :input-value="props.selected"></v-checkbox>
                        </td>
                        <td>
                            {{ props.item.keyword }}
                        </td>
                        <td>
                            <v-text-field :value="props.item.text"></v-text-field>
                        </td>
                        <td>
                            <v-btn flat fab color="red" @click="deleteBing(props.item.id)">
                                <v-icon>close</v-icon>
                            </v-btn>
                        </td>
                        </tr>
                    </template>
                </v-data-table>
                <v-pagination v-model="pagination.page" :length="pages" :total-visible="10"></v-pagination>
            </v-flex>
        </v-layout>
    </v-container>
</template>


<script>
  import panelNavigation from '~/components/panel-navigation'
  import axios from 'axios'

  export default {
    components: {panelNavigation},
    asyncData ({params}) {
      return axios.get('https://bestnail.design/api/bing/')
        .then((res) => {
          return {items: res.data.results, total: res.data.count}
        })
    },
    data () {
      return {
        domains: '',
        items: [],
        selected: [],
        pagination: {},
        loading: false,
        total: 0,
        headers: [
          {
            text: 'Keyword',
            align: 'left',
            sortable: false,
            value: 'keyword'
          },
          {
            text: 'Text',
            align: 'left',
            sortable: false,
            value: 'text'
          },
          {
            text: 'Delete',
            align: 'left',
            sortable: false,
            value: 'delete'
          }
        ]
      }
    },
    watch: {
      pagination: {
        handler () {
          this.fetchBing()
        },
        deep: true
      }
    },
    methods: {
      async fetchBing () {
        this.loading = true
        const {page} = this.pagination
        const result = await this.$axios.$get('https://bestnail.design/api/bing/?offset=' + (page - 1) * 10)
        this.total = result.count
        this.items = result.results
        this.loading = false
      },
      async deleteBing (id) {
        this.loading = true
        return this.$axios.$delete('https://bestnail.design/api/bing/' + id + '/')
          .then(() => {
            this.fetchBing()
            this.loading = false
          })
      },
      async deleteSelected () {
        this.loading = true
        const id = this.selected.map(x => x.id)
        return this.$axios.$post('https://bestnail.design/api/bing/delete/',
          {
            id: id
          })
          .then(() => {
            this.selected = []
            this.fetchBing()
            this.loading = false
          })
      },
      toggleAll () {
        if (this.selected.length) this.selected = []
        else this.selected = this.items.slice()
      }
    },
    computed: {
      pages () {
        if (this.pagination.rowsPerPage == null ||
          this.pagination.totalItems == null
        ) return 0

        return Math.ceil(this.pagination.totalItems / 10)
      }
    }
  }
</script>
