<template>
    <div>
        <v-data-table
                :headers="headers"
                :items="keys"
                :search="search"
                :pagination.sync="pagination"
                :total-items="totalKeys"
                :loading="loading"
                class="elevation-3"
                hide-actions
        >
            <template slot="items" slot-scope="props">
                <td>{{ props.item.name }}</td>
            </template>
        </v-data-table>
        <div class="text-xs-center pt-2">
            <v-pagination v-model="pagination.page" :length="pages" :total-visible="10"></v-pagination>
        </div>
        <div>
            {{ip}}
        </div>
    </div>

</template>

<script>
  // import axios from 'axios'
  export default {
    middleware: ['auth'],
    data () {
      return {
        ip: '',
        search: '',
        totalKeys: 0,
        keys: [],
        loading: true,
        pagination: {},
        headers: [
          {
            text: 'Keywords',
            align: 'left',
            sortable: false,
            value: 'name'
          }
        ]
      }
    },
    watch: {
      pagination: {
        handler () {
          this.fetchKeys()
            .then(data => {
              this.keys = data.results
              this.totalKeys = data.count
              this.loading = false
            })
        },
        deep: true
      }
    },
    mounted () {
      this.fetchKeys()
        .then(data => {
          this.keys = data.results
          this.totalKeys = data.count
          this.loading = false
          // this.fetchSomething()
        })
    },
    methods: {
      async fetchKeys () {
        this.loading = true
        const {sortBy, descending, page, rowsPerPage} = this.pagination
        console.log(sortBy + ' ' + descending + ' ' + rowsPerPage)
        const keys = await this.$axios.$get('http://18.219.19.123/api/key/?offset=' + (page - 1) * 10)
        return keys
      },
      async fetchSomething () {
        const ip = await this.$axios.$get('http://icanhazip.com')
        this.ip = ip
      },
      getDataFromApi () {
        this.loading = true
        return new Promise((resolve, reject) => {
          const {sortBy, descending, page, rowsPerPage} = this.pagination

          let items = this.getDesserts()
          const total = items.length

          if (this.pagination.sortBy) {
            items = items.sort((a, b) => {
              const sortA = a[sortBy]
              const sortB = b[sortBy]

              if (descending) {
                if (sortA < sortB) return 1
                if (sortA > sortB) return -1
                return 0
              } else {
                if (sortA < sortB) return -1
                if (sortA > sortB) return 1
                return 0
              }
            })
          }

          if (rowsPerPage > 0) {
            items = items.slice((page - 1) * rowsPerPage, page * rowsPerPage)
          }

          setTimeout(() => {
            this.loading = false
            resolve({
              items,
              total
            })
          }, 1000)
        })
      }
    },
    computed: {
      state () {
        return JSON.stringify(this.$auth.$state, undefined, 2)
      },
      pages () {
        if (this.pagination.rowsPerPage == null ||
          this.pagination.totalItems == null
        ) return 0

        return Math.ceil(this.pagination.totalItems / 10)
      }
    }
  }
</script>
