<template>
    <v-container>
        <v-layout>
            <v-flex>
                <panel-navigation></panel-navigation>
                <input type="file" @change="onFileSelected"/>
                <v-btn @click="onUpload">Upload</v-btn>

                <h1>Keyword files</h1>
                <h3>Total: {{total}}</h3>
                <v-pagination v-model="pagination.page" :length="pages" :total-visible="10"></v-pagination>
                <br>
                <v-btn color="red" @click.native="deleteSelected">Delete selected</v-btn>
                <v-data-table
                        v-model="selected"
                        :headers="headers"
                        :items="items"
                        :loading="loading"
                        :pagination.sync="pagination"
                        :total-items="total"
                        class="elevation-3"
                        select-all
                        hide-actions
                >
                    <template slot="headers" slot-scope="props">
                        <tr>
                            <th>
                                <v-checkbox
                                        :input-value="props.all"
                                        :indeterminate="props.indeterminate"
                                        primary
                                        hide-details
                                        @click.native="toggleAll"
                                ></v-checkbox>
                            </th>
                            <th
                                    v-for="header in props.headers"
                                    :key="header.text"
                            >

                                {{ header.text }}
                            </th>
                        </tr>
                    </template>
                    <template slot="items" slot-scope="props">
                        <tr :active="props.selected" @click="props.selected = !props.selected">
                            <td>
                                <v-checkbox :input-value="props.selected"></v-checkbox>
                            </td>
                            <td>
                                {{props.item.id}}
                            </td>
                            <td>
                                {{ props.item.file }}
                            </td>
                            <td>
                                {{props.item.name}}
                            </td>
                            <td>
                                {{props.item.imported}}
                            </td>
                            <td>
                                <v-btn color="green" @click="import_file(props.item.id)">Import</v-btn>
                            </td>
                        </tr>
                    </template>
                </v-data-table>
                <v-pagination v-model="pagination.page" :length="pages" :total-visible="10"></v-pagination>
            </v-flex>
        </v-layout>
    </v-container>
</template>


<script>
  import panelNavigation from '~/components/panel-navigation'
  import axios from 'axios'

  export default {
    components: {panelNavigation},
    asyncData ({params}) {
      return axios.get('https://bestnail.design/api/file/')
        .then((res) => {
          return {items: res.data.results, total: res.data.count}
        })
    },
    data () {
      return {
        selectedFile: null,
        items: [],
        selected: [],
        pagination: {},
        loading: false,
        total: 0,
        headers: [
          {
            text: 'Id',
            align: 'left',
            sortable: false,
            value: 'id'
          },
          {
            text: 'File',
            align: 'left',
            sortable: false,
            value: 'file'
          },
          {
            text: 'Name',
            align: 'left',
            sortable: false,
            value: 'name'
          },
          {
            text: 'Imported',
            align: 'left',
            sortable: false,
            value: 'imported'
          },
          {
            text: 'Import',
            align: 'left',
            sortable: false,
            value: 'import'
          }
        ]
      }
    },
    methods: {
      async fetchFiles () {
        this.loading = true
        const {page} = this.pagination
        const result = await this.$axios.$get('https://bestnail.design/api/file/?offset=' + (page - 1) * 10)
        this.total = result.count
        this.items = result.results
        this.loading = false
      },
      onFileSelected (event) {
        this.selectedFile = event.target.files[0]
      },
      onUpload () {
        const fd = new FormData()
        fd.append('file', this.selectedFile, this.selectedFile.name)
        this.$axios.$post('https://bestnail.design/api/file/', fd)
          .then(res => {
            this.fetchFiles()
            this.loading = false
          })
      },
      toggleAll () {
        if (this.selected.length) this.selected = []
        else this.selected = this.items.slice()
      },
      import_file (id) {
        console.log(id)
      },
      async deleteSelected () {
        this.loading = true
        const id = this.selected.map(x => x.id)
        return this.$axios.$post('https://bestnail.design/api/file/delete/',
          {
            id: id
          })
          .then(() => {
            this.selected = []
            this.fetchFiles()
            this.loading = false
          })
      }
    },
    computed: {
      pages () {
        if (this.pagination.rowsPerPage == null ||
          this.pagination.totalItems == null
        ) return 0
        return Math.ceil(this.pagination.totalItems / 10)
      }
    }
  }
</script>