<template>
	<div>
		{{currentPage}} / {{pageCount}}
		<pdf
			src="https://cors-anywhere.herokuapp.com/https://www.docdroid.net/file/download/xv52idK/dear-evan-hansen-movie-script.pdf"
			@num-pages="pageCount = $event"
			@page-loaded="currentPage = page"
		></pdf>
	</div>
</template>

<script>

import pdf from 'vue-pdf'

export default {
  components: {
    pdf
  },
  data () {
    return {
      page: 3,
      currentPage: 3,
      pageCount: 0
    }
  }
}
</script>