<template>
<v-container>
        <v-layout>
            <v-flex>
                <panel-navigation></panel-navigation>

            </v-flex>
        </v-layout>
    </v-container>
</template>


<script>
  import panelNavigation from '~/components/panel-navigation'
  // import axios from 'axios'

  export default {
    components: {panelNavigation}
  }
</script>